<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>汽车租赁系统后台管理</title>
    <script th:src="@{/jQuery/jquery.min.js}" type="text/javascript"></script>
    <link th:href="@{/webjars/layui/2.4.5/css/layui.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" th:href="@{/others/css/public.css}" media="all"/>

    <!--angularjs-->
    <script th:src="@{/angularjs/angular.min.js}" type="text/javascript"></script>
    <!--分页-->
    <script th:src="@{/angularjs/pagination.js}" type="text/javascript"></script>
    <link th:href="@{/angularjs/pagination.css}" rel="stylesheet">

    <script th:src="@{/js/carrental/base_pagination.js}" type="text/javascript"></script>
    <script th:src="@{/js/carrental/service/carOrderService.js}" type="text/javascript"></script>
    <script th:src="@{/js/carrental/controller/baseSearchController.js}" type="text/javascript"></script>
    <script th:src="@{/js/carrental/controller/carOrderController.js}" type="text/javascript"></script>
</head>
<body ng-app="carrental" ng-controller="carOrderController">
<form class="layui-form" method="post" id="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">订单号:</label>
            <div class="layui-input-inline" style="padding: 5px">
                <input type="text" ng-model="searchOrder.orderNum" autocomplete="off" class="layui-input layui-input-inline"
                       style="height: 30px;border-radius: 10px">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">开始时间:</label>
            <div class="layui-input-inline" style="padding: 5px">
                <input type="text" name="cartype" autocomplete="off" class="layui-input layui-input-inline"
                       style="height: 30px;border-radius: 10px">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间:</label>
            <div class="layui-input-inline" style="padding: 5px">
                <input type="text" name="color" autocomplete="off" class="layui-input layui-input-inline"
                       style="height: 30px;border-radius: 10px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户姓名:</label>
            <div class="layui-input-inline" style="padding: 5px">
                <input type="text" ng-model="searchOrder.user.name" autocomplete="off" class="layui-input layui-input-inline"
                        style="height: 30px;border-radius: 10px">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button"
                    class="layui-btn layui-btn-normal layui-icon layui-icon-search layui-btn-radius layui-btn-sm"
                    id="doSearch" style="margin-top: 4px" ng-click="reloadList()">查询
            </button>
            <button type="reset"
                    class="layui-btn layui-btn-warm layui-icon layui-icon-refresh layui-btn-radius layui-btn-sm"
                    style="margin-top: 4px" ng-click="searchOrder={};reloadList()">重置
            </button>
        </div>
    </div>
</form>
<!--数据表格-->
<div class="empTable">
    <table class="layui-table">
        <colgroup>
            <col width="20">
            <col width="250">
            <col width="150">
            <col width="150">
            <col width="100">
            <col width="100">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary"></th>
            <th>订单编号</th>
            <th>生成时间</th>
            <th>客户姓名</th>
            <th>总金额</th>
            <th>订单状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orderList" ng-click="updateSelectIds($event, order.id)">
            <td><input type="checkbox" name="" lay-skin="primary"></td>
            <td>{{order.orderNum}}</td>
            <td>{{order.createTime}}</td>
            <td>{{order.user.name}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{status[order.status]}}</td>
            <td>
                <button class="layui-btn layui-btn-xs" ng-click="editCarInfo();getCarInfoById(order.id);toggle()"><i class="layui-icon">&#xe642;</i>查看详情</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 分页  paginationConf是一个对象-->
<tm-pagination conf="paginationConf"></tm-pagination>

<!-- 添加和修改的弹出层-->
<div style="display: none;padding: 20px" id="editOrAddPop">
    <form class="layui-form layui-row layui-col-space10" lay-filter="dataFrm" id="dataFrm">
        <div class="layui-col-md12 layui-col-xs12">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md9 layui-col-xs7">
                    <div class="layui-form-item magt3">
                        <label class="layui-form-label">订单编号:</label>
                        <div class="layui-input-block" style="padding: 5px">
                            <input type="text"  id="carName" autocomplete="off" class="layui-input"
                                   lay-verify="required" ng-model="order.orderNum"
                                   style="height: 30px;border-radius: 10px">
                        </div>
                    </div>
                    <div class="layui-form-item magt3">
                        <label class="layui-form-label">生成时间:</label>
                        <div class="layui-input-block" style="padding: 5px">
                            <input type="text" id="carnumber" autocomplete="off" class="layui-input"
                                   lay-verify="required" ng-model="order.createTime"
                                    style="height: 30px;border-radius: 10px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户姓名:</label>
                        <div class="layui-input-block" style="padding: 5px">
                            <input type="text" ng-model="order.user.name" autocomplete="off" class="layui-input"
                                    style="height: 30px;border-radius: 10px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">总金额:</label>
                        <div class="layui-input-block" style="padding: 5px">
                            <input type="text" ng-model="order.totalPrice" autocomplete="off" class="layui-input"
                                    style="height: 30px;border-radius: 10px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item magb0">
                <label class="layui-form-label">订单状态:</label>
                <div class="layui-input-block" style="padding: 5px">
                    <input type="text" ng-model="status[order.status]" autocomplete="off" class="layui-input"
                            style="height: 30px;border-radius: 10px">
                </div>
            </div>
        </div>
    </form>
</div>

<!--采购订单项弹窗-->
<div id="checkPurOrderItem" ng-hide="purOrderItemHide">
    <table class="layui-table">
        <colgroup>
            <!--<col width="20">-->
            <col width="200">
            <col width="200">
            <col width="100">
            <!--<col width="150">-->
            <!--<col width="100">-->
            <!--<col width="100">-->
            <!--<col width="250">-->
            <col>
        </colgroup>
        <thead>
        <tr>
            <!--<th><input type="checkbox" lay-skin="primary"></th>-->
            <th>订单项编号</th>
            <th>商品名称</th>
            <th>采购价格</th>
            <!--<th>商品图片</th>-->
            <th>数量</th>
            <!--<th>单位</th>-->
            <!--<th>生产日期</th>-->
            <!--<th>保质期</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="purOrderItem in purOrderItemList">
            <!--<td><input type="checkbox" lay-skin="primary"></td>-->
            <td>{{purOrderItem.purOrderItemId}}</td>
            <td>{{purOrderItem.product.prodName}}</td>
            <td>{{purOrderItem.prodPrice}}</td>
            <!--<td>{{purOrderItem.product.prodImg}}</td>-->
            <td>{{purOrderItem.prodNum}}</td>
            <!--<td>{{purOrderItem.product.prodUnit}}</td>-->
            <!--<td>{{purOrderItem.product.productionDate | date:'yyyy-MM-dd'}}</td>-->
            <!--<td>-->
            <!--<span ng-if="purOrderItem.product.storageTime != null">-->
            <!--{{purOrderItem.product.storageTime}}个月-->
            <!--</span>-->
            <!--<span ng-if="purOrderItem.product.storageTime == null">-->
            <!--无-->
            <!--</span>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" th:src="@{/webjars/layui/2.4.5/layui.js}"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
        form.render('select', 'test1');
    });
</script>
</body>
</html>