.selectDept{
    width: 500px;
    height: 35px;
}

.selectCategory{
    width: 150px;
    height: 35px;
}

.selectSupplier{
    width: 180px;
    height: 30px;
}

.selectStatus{
    width: 220px;
    height: 30px;
}