<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>汽车租赁系统后台管理</title>
    <link th:href="@{/webjars/layui/2.4.5/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!--angularjs-->
    <script th:src="@{/angularjs/angular.min.js}" type="text/javascript"></script>

    <!--<script th:src="@{/js/carrental/base.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{/js/carrental/service/loginService.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{/js/carrental/service/carInfoService.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{/js/carrental/controller/baseController.js}" type="text/javascript"></script>-->
    <!--<script th:src="@{/js/carrental/controller/loginController.js}" type="text/javascript"></script>-->

    <script type="text/javascript">
        function SetIFrameHeight(){
            var iframeid=document.getElementById("iframe"); //iframe id
            if (document.getElementById){
                iframeid.height =document.documentElement.clientHeight;
            }
        }
    </script>

</head>
<!--ng-app="carrental" ng-controller="loginController" ng-init="showLoginUser();findDeptByEmpDeptId()"-->
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><h2>汽车租赁后台管理</h2></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item other-option">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item other-option">
                <!--如果认证了就显示-->
                <!--<a href="javascript:;">-->
                    <!--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->

                <!--</a>-->
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><hr></dd>
                    <dd><a th:href="@{/logout}">退出</a></dd>
                </dl>
            </li>
            <li class="userAndDept">
                <div >
                    <span>
                    当前用户：
                    <!--<span ng-if="loginUser.empName != null">-->
                        <!--{{loginUser.empName}}-->
                    <!--</span>-->
                    </span>
                </div>
            </li>

        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a th:href="@{/index}"><i class="layui-icon">&#xe68e;</i>&nbsp;&nbsp;首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe66b;</i>&nbsp;&nbsp;车辆管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/car/carInfoList}" target="iframe">车辆信息</a></dd>
                        <dd><a th:href="@{/car/carAppointList}" target="iframe">预约信息</a></dd>
                        <dd><a th:href="@{/car/carRentalList}" target="iframe">出租信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe613;</i>&nbsp;&nbsp;用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/renterList}" target="iframe">租户信息</a></dd>
                        <dd><a th:href="@{/user/carOwnerList}" target="iframe">车主信息</a></dd>
                        <dd><a th:href="@{/user/carDriverList}" target="iframe">代驾信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe857;</i>&nbsp;&nbsp;订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/order/orderList}" target="iframe">订单信息</a></dd>
                        <dd><a th:href="@{/order/orderDetailList}" target="iframe">订单明细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/car/carBandList}" target="iframe"><i class="layui-icon">&#xe60a;</i>品牌管理</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/car/rentServiceList}" target="iframe"><i class="layui-icon">&#xe681;</i>服务管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href=""><i class="layui-icon">&#xe612;</i>个人中心</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe width="100%" id="iframe" name="iframe"	onload="SetIFrameHeight()"
                    frameborder="0" th:src="@{/home}"></iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 超市销售管理系统
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/layui/2.4.5/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>

</body>
</html>